.header{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 0px;
    text-align: center;
    line-height: normal;
    height: 5vh;
    background-color:#9E9E9E;
    color: #FFFFFF;
    font-size:25px;
}
@media (max-width: 991px) {
    .header {
      margin-top: 29.34375px;
      text-align: center;
    }
  }
  @media (max-width: 640px) {
    .header {
      font-size: 25px;
    }
  }